<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouc.lenovoshop.mapper.NoticeMapper">

    <sql id="Base_Column_List">
        id,title,content,time,business_id
    </sql>

    <select id="selectAll" resultType="com.ouc.lenovoshop.entity.Notice">
        select n.id, n.title, n.content, n.time, b.name as user, n.business_id
        from notice n
        left join business b on n.business_id = b.id
        <where>
            <if test="id != null"> and n.id= #{id}</if>
            <if test="title != null"> and n.title like concat('%', #{title}, '%')</if>
            <if test="content != null"> and n.content= #{content}</if>
            <if test="time != null"> and n.time= #{time}</if>
            <if test="businessId != null"> and n.business_id= #{businessId}</if>
        </where>
        order by n.id desc
    </select>

    <select id="selectById" resultType="com.ouc.lenovoshop.entity.Notice">
        select n.id, n.title, n.content, n.time, b.name as user, n.business_id
        from notice n
        left join business b on n.business_id = b.id
        where n.id = #{id}
    </select>

    <delete id="deleteById">
        delete from notice
        where  id = #{id}
    </delete>

        <insert id="insert" parameterType="com.ouc.lenovoshop.entity.Notice" useGeneratedKeys="true">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="time != null">time,</if>
            <if test="businessId != null">business_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="time != null">#{time},</if>
            <if test="businessId != null">#{businessId},</if>
        </trim>
        </insert>

    <update id="updateById" parameterType="com.ouc.lenovoshop.entity.Notice">
        update notice
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="businessId != null">
                business_id = #{businessId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>